  <br>  
  <label for="question_<%= i %>_text">Question #<%= i + 1 %> &nbsp;</label>
  <input type="text" name="poll[questions_attributes][<%= i %>][text]"
                     id="question_<%= i %>_text"
                     style="width:450px;"
                     class="form-control">
  <br>


<li data-question-number="<%= i %>">
  <ul style="list-style:none;" class="answers" id="answers_for_question_<%= i %>">
  </ul>

  <br>
  <input type="button" value="Add An Answer"
                       id="addAnotherAnswer"
                       data-question-number="<%= i %>"
                       class="btn btn-danger">
</li>