<h1><%= poll.title %></h1>

<p>Text your vote to 201-345-POLL (201-345-7655).</p>

<% poll._pollQuestions.models.forEach( function(question) { %>
  <p><%= question.attributes.text %></p>
    <table border="1">
      <tr>
        <th>Text code</th>
        <th>Answer</th>
        <th>Votes</th>
      </tr>
      <% question._questionAnswers.models.forEach( function(answer) { %>
        <tr>
          <td><%= answer.attributes.id + 111 %></td>
          <td><%= answer.attributes.text %></td>
          <td><%= answer.attributes.num_votes %></td>
        <tr>
      <% }); %>
    </table>
  <br>
  <br>
  <div id="pie_graph_<%= question.id %>" class="pie_graph"></div>
<% }); %>