<div class="text-center">
  <h1><%= poll.attributes.title %></h1>

  <h3>Text your vote to 201-345-POLL (201-345-7655).</h3>

  <% poll._pollQuestions.models.forEach( function(question) { %>
    <br>
    <h4><%= question.attributes.text %></h4>
    <br>
    <div id="pie_graph_<%= question.id %>" class="pie_graph"></div>
    <button id="newColors" class="btn btn-primary btn-xs">New colors</button>
    <br>
    <br>
    <table style="margin: 0px auto;">
      <% question._questionAnswers.models.forEach( function(answer) { %>
        <tr>
          <td><div id="answerLabel<%= answer.attributes.id %>" style="width:20px;height:20px;-moz-border-radius:5px;border-radius:5px;"></div></td>
          <td style="text-align:left;"><h3 style="display:inline;">&nbsp;<%= answer.attributes.num_votes %></h3></td>
          <td style="text-align:left;color:#000060;"><h4 style="display:inline;">&nbsp; <%= answer.attributes.text %></h4></td>
          <td style="text-align:left;">&nbsp; Text code: <%= answer.attributes.id + 111 %></td>
        </tr>
      <% }); %>
    </table>
  <% }); %>
  <br>
  <% if (user.id) { %>
    <a href="#users/<%= user.id %>">My polls</a>
  <% } %>
  <br>
  <a href="#">See another poll</a>
</div>

