<div class="text-center">
  <h1><%= poll.attributes.title %></h1>

  <h3>Text your vote to 201-345-POLL (201-345-7655)</h3>

  <% poll._pollQuestions.models.reverse().forEach( function(question) { %>
    <br>
    <h4><strong><%= question.attributes.text %></strong></h4>
    <br>
    <div id="pie_graph_<%= question.id %>" class="pie_graph"></div>
    <a href="#" class="newColors" data-question="<%= question %>" data-id="<%= question.id %>">New colors</a>
    <br>
    <br>
    <table style="margin: 0px auto;">
      <% question._questionAnswers.models.forEach( function(answer) { %>
        <tr>
          <td><div id="answerLabel<%= answer.attributes.id %>" style="width:20px;height:20px;-moz-border-radius:5px;border-radius:5px;"></div></td>
          <td style="text-align:left;"><h3 id="<%= answer.attributes.id %>" style="display:inline;">&nbsp;<%= answer.attributes.num_votes %></h3></td>
          <td style="text-align:left;color:#000060;"><h4 style="display:inline;">&nbsp; <%= answer.attributes.text %></h4></td>
          <td style="text-align:left;">&nbsp; Text code: <%= answer.attributes.id + 111 %></td>
        </tr>
      <% }); %>
    </table>
  <% }); %>
  <br>
  <% if (user.id) { %>
    <a class="btn btn-success" href="#users/<%= user.id %>">My polls</a>
    <text>&nbsp; &nbsp;</text>
  <% } else { %>
    <a class="btn btn-success" href="#users/new">Sign up</a>
    <text>&nbsp; &nbsp;</text>
  <% } %>
  <a class="btn btn-danger" href="#polls/<%=Math.ceil(Math.random()*19) %>">See another poll</a>
</div>