<!DOCTYPE html>
<html>
<head>
  <title>PollCheetah</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <script src="http://js.pusher.com/2.1/pusher.min.js"></script>

  <div id="current-user" data-curr-user="<%= !!current_user %>">
  </div>

  <div id="user-stuff" data-user-content="<%= render template: 'polls/index.json.rabl' %>">
  </div>

</head>
<body>
  <%= render :partial => "root/user_data"%>
  
  <div id="header"></div>
  <div id="content"></div>

</body>
</html>